{% extends 'header.html' -%}
{% block head -%}
{{ super() }}
<link type="text/css" href=" {{ url_for('static', filename='css/register_form_appear.css') }} "
      rel="stylesheet">
{% endblock head -%}

{% block header -%}
{{ super() }}
{% endblock header -%}

{% block content %}
{{ super() }}
<form action="/login" method="post" class="info_form" novalidate>
    {{ form.hidden_tag() }}
    {% for cat, mes in get_flashed_messages(True) -%}
    <p class="flash {{ cat }}">{{ mes }}</p>
    {% endfor -%}
    <p><label>{{  form.email.label }}</label> <br>
        {{  form.email(size=32) }}
        {% for error in form.email.errors -%}
        <span style="color: red">  {{ error }}</span>
        {% endfor -%}
    </p>
    <p><label>{{ form.password.label }}</label> <br>
        {{ form.password(size=32) }}
        {% for error in form.password.errors -%}
        <span style="color: red">  {{ error }}</span>
        {% endfor -%}
    </p>
    {{ form.remainme(size=20) }} {{ form.remainme.label }} <br>
    {{ form.submit(size=20) }}
</form>
<p>Not registered yet? <a href="{{ url_for('register') }}">Create account</a></p>
{% endblock -%}

{% block footer -%}
{{ super() }}
{% endblock -%}