
{% extends 'header.html' -%}
{% block head -%}
{{ super() }}
<link type="text/css" href=" {{ url_for('static', filename='css/register_form_appear.css') }} "
      rel="stylesheet">
{% endblock head -%}

{% block header -%}
{{ super() }}
{% endblock header -%}

{% block content %}
{{ super() }}
<form action="{{ url_for('register') }}" method="post" class="info_form" novalidate>
    {{ form.hidden_tag() }}
    {% for cat, mes in get_flashed_messages(True) -%}
    <p class="flash {{ cat }}">{{ mes }}</p>
    {% endfor -%}
    <p><label> {{ form.name.label }}</label>
        {{ form.name(size=32) }}
        {% for err in form.name.errors %}
            <span>{{ err }}</span>
        {%  endfor %}

    </p>
    <p><label> {{ form.birthdate.label }}</label>
        {{ form.birthdate(size=32) }}
        {% for err in form.birthdate.errors %}
            <span>{{ err }}</span>
        {%  endfor %}
    </p>


    <p><label> {{ form.email.label }}</label>
        {{ form.email(size=32) }}
        {% for err in form.email.errors %}
            <span>{{ err }}</span>
        {%  endfor %}

    </p>
    <p><label> {{ form.password.label }}</label>
        {{ form.password(size=32) }}
        {% for err in form.password.errors %}
            <span>{{ err }}</span>
        {%  endfor %}

    </p>
    <p><label> {{ form.repeat_password.label }}</label>
        {{ form.repeat_password(size=32) }}
        {% for err in form.repeat_password.errors %}
            <span>{{ err }}</span>
        {%  endfor %}

    </p>
    {{ form.submit(size=32) }}
</form>

{% endblock -%}

{% block footer -%}
{{ super() }}
{% endblock -%}